# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Python executable
*.pyc

# Virtual environment
venv/
env/
*.env

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv specific files
Pipfile.lock

# Coverage reports
htmlcov/

# Compiled UI files
*.ui

# Ignore sensitive or private information (customize based on your needs)
config.ini
secrets.yaml
secret.key
tests/memories_count.xlsx
